$lightSteelBlue: #A7BFE2;
$vistaBlue: #769DD7;
$blueGray: #618DCE;
$cyanBlueAzure: #467BC9;
$vividBlue : #0772EF;
$brightBlue: #34B0F5;
$blue: #0047FF;
$policeBlue: #194E65;
$white : #FFFFFF;
$brightRed: #F93636;
$softRed: #FE5656;
$outerSpace : #474747;
