$lightSteelBlue: #A7BFE2;
$vistaBlue: #769DD7;
$blueGray: #618DCE;
$cyanBlueAzure: #467BC9;
$white : #FFFFFF;
$pink: #FF4D9C;
$add-to-wishlist-unselected: #A5A5A5;
$add-to-wishlist-selected: #EF3340;
$lightGreen: #00E5A6;
