@import "common/fonts";
@import "common/colours";
@import "common/reset";
@import "common/header";

body {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

form input {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: $brightGray;
    margin: 10px 0 10px 0;
}

label, .bottom-message {
    font-family: "Roboto light";
    color: $darkSilver;
}

.signup-title {
	margin-top: 135px;
    margin-bottom: 0;
}

.login-title {
	margin: 0;
}

.form-panel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.form-panel h1{
    color: $vividBlue;
    text-transform: uppercase;
    font-family: "Roboto Bold";
    font-size: 3rem;
}

.form-panel h2{
    font-family: "Roboto thin";
    font-size: 1.2rem;
}

.form-panel h1, h2, p{
    text-align: center;
}

.picture-panel {
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture-panel-login {
    background-image: url("../images/photos/man-on-cliff.png");
}

.picture-panel-sign-up {
    background-image: url("../images/photos/girls-dancing.png");
}

.text-container {
    width: 44%;
    color: $white;
}

.text-container h1 {
    text-align: center;
    font-family: "Roboto Bold";
    font-size: 2.3rem;
    text-transform: uppercase;
}

.text-container h2 {
    font-family: "Inter extra Light";
}

.text-container p {
    font-family: "Inter extra Light";
}

.rgpd-label {
    font-family: "Roboto-LightItalic";
    font-size: 0.8rem;
}

.validation-input-container {
    display: flex;
    justify-content: center;
}

#validation-input {
    background-color: $vistaBlue;
    color: $white;
    font-family: "Roboto Bold";
    width: 70%;
    font-size: 1.2em;
    margin: 20px;
}

.bottom-link{
    color: $vistaBlue;
    text-decoration: none;
    font-family: "Roboto Bold";
}

header {
    display: block;
}
